# Secrets
pyblox_config.py

# personal workspace stuff
*.p.txt
.vscode/

# python virtual env
Include/
Lib/
Scripts/
pyvenv.cfg
__pycache__

# Unfinished stuff
main_gui.py
resizeable_window.py
tkinter_helper.py